/* green: #0FC47A
yellow: #FFDF4C
red: #FF4447
blue: #4978FF
Title: Font: Monserrat (Black) Size: 40 Color: #0FC47A or #FFFFFF */

body, html {
  padding: 0px;
  margin: 0px;
  color: #FFF;
}

header {
  background-color: #0FC47A;
  display: flex;
  padding: 5px;
}

.title-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

h1 {
  margin: 0px;
}
