/* green: #0FC47A
yellow: #FFDF4C
red: #FF4447
blue: #4978FF
Title: Font: Monserrat (Black) Size: 40 Color: #0FC47A or #FFFFFF */

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
  width:100vw;
    overflow-x:hidden;
}

body, html, App, Router, Switch, BrowserRouter {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

header {
  display: flex;
  padding: 5px;
  z-index: 100;
}

.title-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_title {
  flex-grow: 1;
  text-align: center;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

h2 {
  margin: 0px;
}

p, button {
  margin: 8px;
}

.green {
  background-color: #0FC47A;
  color: #FFF;
  transition: background-color .4s;
}

.white {
  background-color: #FFF;
  color: #0FC47A;
  transition: background-color .4s;
}

.flex_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-grow: 1;
}

.square_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.flex_row {
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  height: 100%;
}

.green_text {
  color: #0FC47A;
}

.white_text {
  color: #FFF;
}

.line {
  height: 2px;
  width: 100%;
  flex-grow: 1;
  background-color: #FFF;
}

.black_text {
  color: #000;
}

.nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: 700;
}

.square {
  height: 100px;
  min-width: 100px;
  background-color: #FFF;
}

.red_button {
  background-color: #FF4447;
}

main {
}

button {
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 4px 6px 0 rgba(0,0,0,0.19);
  width: 180px;
}

nav {
  position: absolute;
  z-index: 5;
  width: 100%;
  background-color: #0FC47A;
  top: -1000px;
  transition: top .2s;
}

li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #FFDF4C;
}
